[2019-10-17 13:22] #398 closed

[2019-10-24 09:25] tomschr commented on #104
Hmn, maybe we better remove the logo from the HTML pages. Adapt title...

[2019-10-24 10:10] sknorr commented on #104
Nah, we have a bug for this already, so closing.

[2019-10-24 10:10] #104 closed

[2019-11-13 19:34] ghost opened #401 "Avoid sect1s from starting on the lower third of a page"
Right now, our PDF stylesheets often start sect1 on the lower third of a page instead of pushing that content to the next page. That is really ugly. So I was wondering whether the trick of setting a large bottom padding (= regular bottom padding + (1/3 A4 - bottom page border)) and a negative margin (= - (1/3 A4 - bottom page border)) would help matters here.

[2019-11-22 14:53] taroth21 opened #402 "Old doc homepage still listed in PDF"
Page 2 of our PDFs still list the old doc homepage (https://www.suse.com/documentation):

[code]

Please replace with ```https://documentation.suse.com/``` and publish the update stylesheet as RPM package.

[2019-11-22 14:59] tomschr commented on #402
Good catch! Thanks Tanja!

[2019-11-22 15:00] #402 closed

[2019-11-22 15:24] tomschr commented on #402
@taroth21 I've prepared a `release/2.0.15` branch and will build a RPM next week. :wink:

[2019-11-25 10:05] taroth21 commented on #402
To prioritize the package in the maintenance queue, use:
$ iosc rq priorize -m '$your_reason' $request_id important

[2019-11-26 09:24] tomschr commented on #402
Created submit request for openSUSE Factory: https://build.opensuse.org/request/show/750917

[2019-11-29 14:57] sknorr opened #404 "bork intra-xrefs"
The SLES Deployment Guide (master) has this intra-xref in Section 2.5.1:
*Book “Administration Guide”, Chapter 14 “The Boot Loader GRUB 2” grub2-mkrescue*

Seems like the words *Section x "..."* are missing at the end in this example.

[2019-11-29 15:26] sknorr commented on #392
After discussing with Dima went for LinkedIn instead.

[2019-11-29 15:26] #392 closed

[2019-11-29 16:51] sknorr commented on #20
I don't think there is any way to solve this and we're using FOP for pretty much everything now, except Arabic docs. -> Closing

[2019-11-29 16:51] #20 closed

[2019-11-29 18:25] sknorr commented on #369
Turns out, these effects stemmed from attribute-sets that had always been included but ignored because of a bug in xsltproc. Effects fixed/incorporated on rebrand branch.

[2019-11-29 18:25] #369 closed

[2019-12-13 15:06] taroth21 opened #407 "Links to a <part/> only show the book title, but not the part title"
The following source code:

```For more information, see  <xref linkend="part-apparmor"/>.```

shows up in the PDF as:

```For more information, see Book “Security Guide”.```

Expected behavior:

```For more information, see Book “Security Guide”, Part IV “Confining Privileges with AppArmor.”```

[2019-12-16 09:54] taroth21 opened #408 "Product number should always be visible"
Based on the feedback in https://bugzilla.suse.com/show_bug.cgi?id=1152504#c14, we maybe should discuss if to only mention the product number in the source code if really needed.

However, if the product number is only rarely mentioned in the text, it is even more important that each HTML and PDF page of the documentation state which product version the document applies to. For PDF, the current la

[2019-12-19 10:30] taroth21 opened #411 "Unfortunate line break in variablelist"
Variablelists are sometimes rendered strangely, for example, in one case a page break appears after the ```<term/>``` and before the  ```<listitem/>```. Even adding a processing instruction (Toms can add the details) did not change this.

See https://github.com/SUSE/doc-sle/files/3961679/cha-common-criteria_remarks_color_draft_en.pdf for an example (hardening.xml, l. 494).

[2019-12-19 10:36] tomschr commented on #411
We've tried to add a `<?pdfpagebreak?>` PI, but it doesn't work too.

[2020-01-16 12:36] ghost opened #412 "Actually generate an ID for titled orderedlists"
This begets a permalink but not an actual id attribute on the element, rendering the permalink useless:

[code]

https://documentation.suse.com/external-tree/en-us/suma/3.2/susemanager-best-practices/single-html/book.suma.best.practices/book.suma.best.practices.html#id-1.3.4.3.6.4.3

(via M. Meisters)

[2020-01-16 12:47] sknorr commented on #125
I don't think there is any need to support Saxon. Closing.

[2020-01-16 12:47] #125 closed

[2020-01-16 12:50] sknorr commented on #25
Since we mostly care about xsltproc and Saxon functionality is broken in DAPS anyway, nothing happened regarding support for those Saxon extensions in five years and we also already have highlighting in HTML, let's just close this issue.

[2020-01-16 12:50] #25 closed

[2020-01-16 12:51] #193 closed

[2020-01-16 12:55] sknorr commented on #189
No.

[2020-01-16 12:55] #189 closed

[2020-01-16 12:56] #122 closed

[2020-01-16 12:57] sknorr commented on #95
We are going for the "only provide -ns" solution in the suse2020 styles. We are not going to touch any of the 2013 styles. Let's close this then.

[2020-01-16 12:57] #95 closed

[2020-01-16 13:00] sknorr commented on #203
SVGeezy should at this point be unnecessary, since all the browsers have SVG support. We still have not tested embedding much yet, however.

[2020-01-16 13:01] sknorr commented on #204
Let's not pursue this. Closing.

[2020-01-16 13:01] #204 closed

[2020-01-21 06:57] tomschr commented on #25
Just for the record:
another alternative could be [Google Code Pretty](https://github.com/google/code-prettify) described in section [Implementing Syntax Highlighting with Google Code Prettify](http://doccookbook.sf.net/html/en/dbc.html.sh.google-code-prettifiy.html).
(Unfortunately, this works for HTML only as this approach uses JavaScript.)

[2020-01-21 21:59] sknorr commented on #373
Let's close, I think I asked and they didn't want to do this.

[2020-01-21 21:59] #373 closed

[2020-01-21 22:13] #363 closed

[2020-02-24 23:17] sknorr commented on #262
Update, after Toms & I discussed:

* SUSE2020 styles will be DocBook 5 only (whenever they hit because we still have a redesign of unknown proportions in the way of that)
* There will be no changes to Makefile, except when we develop the new styles we won't need it because we only do DB5 styles.
* There is a catalog.d directory already.

Closing.

[2020-02-24 23:17] #262 closed

[2020-02-24 23:29] sknorr commented on #256
* Looked at the SLES 12 SP1 release notes which has up to 5th level sectioning and it looked fine. I also seem to remember that I fixed this even as I can't pinpoint a commit here.

[2020-02-24 23:29] #256 closed

[2020-02-25 18:45] sknorr commented on #261
Not exactly sure what happened here but I can't see an issue (any more). Does sound a lot like an FOP error unfortunately.

[2020-02-25 18:45] #261 closed

[2020-02-26 20:47] sknorr commented on #384
This is a valid issue URL for SLES 15 SP1: `https://jira.suse.com/secure/CreateIssueDetails!init.jspa?pid=18892&issuetype=9&summary=flub+flab&description=o+no&customfield_17225=24482&customfield_17203=****&customfield_17202=****&customfield_12302=wurscht+gwasn`

* The product ID (= "SLE") it is best to find out via the API (so I just wrote [jiracek](https://gitlab.nue.suse.com/stfnknorr/jiracek)),

[2020-02-26 20:57] sknorr commented on #384
I think I will just close this.

[2020-02-26 20:57] #384 closed

[2020-03-04 13:58] ghost opened #413 "translation feedback Feb 2020: fr - fix figure/example label template"
fr

- [x] L10n file. <l:template name="figure-label" updated. Change
'%nt' to '%n'.
- [x] L10n file. <l:template name="example-label" updated. Change
'%nt' to '%n'

[2020-03-04 14:03] ghost opened #414 "translation feedback Feb 2020: ja -- margin improvements"
ja

- [ ] formatting needs to be fixed - indented more. qandaset/
qandaentry/question/para.
- [ ] The full-stop at the end of the paragraph numbering is being overlaid. See SES 6 JA Storage Admin, page 194, section 15.6.
- [ ] More space between lines. See warning/title. See the Warning on
[which book?] page 173 in section 12.9.

Assuming all of these are PDF issues

[2020-03-04 14:06] ghost opened #415 "language feedback Feb 2020: section labeling in PDF TOC & date format"
zh-tw

- [ ] In the PDF bookmark, "章 n." should be changed to "第 n 章". For
example, "章 1." should be changed to "第 1 章". And the period following the
chapter number and section number should be deleted.
- [ ] The date format needs to be modified. 2020-2-18 (Y-m-d). We
tried to fix it in the L10n file for zh_TW. It did not work. Perhaps it needs
to be also updated in the nwalshe5 L10n file.

[2020-03-11 14:51] ghost opened #416 "Old issues from Trello"
These probably need to de-duped with stuff already reported here and stuff that is already fixed. This is just a quick dump, so I can close the old Trello board.

- [x] ~"verbatim" areas: FOP hyphenates before many special characters, like :/ -|"]} – no matter where they are on the line (See e.g. "Example 5.3.  Pretty-printed Output ..." in the DAPS User Guide) DocBook-FO parameter hyphenate.verba

[2020-03-17 16:33] sknorr opened #417 "In Qandasets, it helps if the Questions/Answers have a label"
via https://bugzilla.suse.com/show_bug.cgi?id=1162324:

Our HTML qandasets do not have labels in front of questions (like "G.5 What would Jesus do?"), whereas our PDFs do. We should make that consistent [again] (in favor of labels, because they help orientation in the document).

[2020-03-25 17:01] ghost opened #418 "Increase para margins in lists"
Paragraph margins within (variable-) lists are pretty tight, making it a bit hard to see where paragraphs end.

HTML:
![HTML](https://user-images.githubusercontent.com/5476547/77564073-742c6a00-6ec2-11ea-9bac-70f960a1c3f4.png)

PDF:
![PDF](https://user-images.githubusercontent.com/5476547/77564079-755d9700-6ec2-11ea-8d33-ecaeb60e7ea1.png)

v/ @cjschroder

[2020-04-09 07:09] tomschr opened #419 "SUSE Branding: Integrate New Color Palette"
## Problem Description

SUSE has got a new brand and with such a new color palette.

![ACL_Color](https://user-images.githubusercontent.com/1312925/78867534-8b7e6200-7a41-11ea-9708-2a1521b8d3f5.jpg)

## Expected Behaviour

New colors available in HTML and PDF.

## References

https://one.suse.com/content/perma?id=20088

[2020-05-12 22:07] sknorr commented on #417
Fixed: https://github.com/openSUSE/suse-xsl/commit/c01a17c13e16502ce6a76d7f2d44967dc806dfd3

[2020-05-12 22:07] #417 closed

[2020-05-12 22:24] sknorr commented on #269
Fixed in d5666d81953.

[2020-05-12 22:24] #269 closed

[2020-05-12 22:27] sknorr commented on #163
Prompts cannot be selected anyway, and we now have a copy-to-clipboard button that also removes prompt content when copying a screen.

[2020-05-12 22:27] #163 closed

[2020-05-12 22:47] sknorr commented on #156
Euh, let's close this. People should just not try to position callouts _under_ the items being described. (Which was the issue I assume -- the section appears to have been renamed meanwhile.)

[2020-05-12 22:47] #156 closed

[2020-07-29 14:42] sknorr opened #421 "Strip HTML & entities from generated bug report titles"
_via @gameboy974:_

Our report-bug links generate slightly garbage-looking titles when we have a title that includes HTML or entities, e.g. with a headline markup like: `<h1>The <code class="command">rubberducky</code> and how it helps you relax&mdash;with ease</h1>`, we'd get a bug report titled `[doc] The <code class="command">rubberducky</code> and how it helps you relax&mdash;with ease`. That

[2020-08-12 16:27] sknorr commented on #361
@cjschroder just noticed this ... we really want this fixed in the next version, since she's used an xref to an appendix now^^

[2020-10-28 15:54] tomschr opened #422 "Integrate modified date into published documents"
## Problem Description

Our documents show currently the build date on its cover page. This confuses some people and they would like to have something like:

* First published: dd.mm.yyyy
* Last modified: dd.mm.yyyy  (does NOT mean last published)

## Possible Solution

We need a new parameter that can receive the modification date. Additionally, we retrieve the published date and modified date fr

[2020-11-13 15:30] taroth21 opened #424 "intra-xrefs (used especially in single-HTML) are confusing, find a better way to create references to other books"
## Problem Description

See https://bugzilla.suse.com/show_bug.cgi?id=1178569#c2.

## Expected Behaviour

Find a better way to solve this as this obviously confuses people.

[2021-02-03 13:33] cwickert opened #425 "Table of contents lacks sect1 sections if part of a preface"
## Problem Description

In the context of the recent discussions about the preface "About this Guide", I stumbled across the following bug: Currently the table of contents in PDFs only lists `<sec2>`s inside `<preface>`s, not `<sec1>`. This is inconsistent with the structure and very confusing. One cannot understand the title of a section without the context of the section it's part of.

![Screens

[2021-02-03 18:22] tomschr commented on #425
This is clearly a bug. Thanks for the report, Christoph.

Actually when I've implemented it, my idea was to scrub all sections and subsections from preface. Only the preface title should appear in the TOC. Mostly as prefaces doesn't convey that much information. The TOC also gets a bit smaller if we don't show the information.

Something like in the screenshot below:

![Screenshot_20210203_191905]

[2021-02-04 09:28] tomschr commented on #425
@cwickert I've created the branch `bugfix/425-toc` so you can have a look.

[2021-02-09 07:15] tomschr commented on #425
Here is another attempt to compare it with https://github.com/openSUSE/suse-xsl/issues/425#issuecomment-772720047

![Screenshot_20210204_163725](https://user-images.githubusercontent.com/1312925/106916307-4d0c0f00-6707-11eb-84ab-ecb43d9efa7c.png)

[2021-02-09 14:38] sknorr opened #427 "Fix line break behavior of inline code/literals in PDF"
ptinley made us aware of the things they undertake to fix display of tables in the AY Guide (for 15 SP2), we should try to see what we can do to make this work less necessary, e.g. add zero-width spaces within literals in PDF.

[2021-02-09 16:51] #425 closed

[2021-02-10 07:52] tomschr opened #428 "Move from Travis to GitHub Actions?"
## Problem Description

As Travis is getting more and more obsolete, lets try GitHub Action.

## Suggested Solution

A GitHub Action which does basically the same as the Travis CI.

[2021-02-10 11:30] #428 closed

[2021-02-18 10:58] sknorr opened #431 "AsciiDoc: Support for [%hardbreaks] appears to be missing/broken"
The AsciiDoctor site says that hard line breaks are supported via `[%hardbreaks]`, https://docs.asciidoctor.org/asciidoc/latest/blocks/hard-line-breaks/.

The SUSE Distribution Migration System documentation was _previously_ using this, see the raw version of
https://github.com/SUSE/suse-migration-services/blob/79e63caa/doc/adoc/user_guide.adoc (the most recent document uses a bulleted list).
Howe

[2021-02-25 11:36] cwickert commented on #286
As @jsetz11 is no longer with the team, can we please get this rolling again? I consider this important because one of the first feedback @jfaltenbacher gave about our docs is that our procedures should end with some kind of status or success-story, e.g. "You have sucessfully done foo". As we are to use procedures far more often in the future, this is becoming pressing.

[2021-02-25 12:37] tomschr commented on #286
@cwickert See a first draft in PR #430.

[2021-03-16 15:40] tomschr opened #432 "glosslist broken in HTML"
## Problem Description

The current stylesheets creates broken HTML for a `<glosslist>`.

Here is an example:

[code]

After transforming it to HTML, you get this output:

![glosslist-in-html](https://user-images.githubusercontent.com/1312925/111337229-34800480-8676-11eb-8755-58319d63bac1.png)

So to summarize the issues here:

1. the spaces between a `glossdef` and the next `glossterm` is broken.

[2021-05-28 09:26] stefanq commented on #424
I'm not "authorized to access bug #1178569".
WTH, what kind of privacy needs do you have with this?

[2021-05-28 09:46] sknorr commented on #419
This is the 2020 palette that we never implemented in the end, as it was superseded by the 2021 palette. The 2021 palette is now in use for the suse2021 stylesheets.

[2021-05-28 09:46] #419 closed

[2021-05-28 09:54] stefanq commented on #424
@sknorr  Thank you Stefan!
IMO the openSUSE project has a lot of legacies regarding communicating openly and unfortunately the never become aware of it. I'm with openSUSE since the 90ies, always found it to be a superior project and distribution, and I'm still waiting that they do the right steps to open for more and easy contribution so that the project can take off in terms of community contribu

[2021-08-27 14:25] tomschr opened #435 "intra-xref broken and rendered as normal xref"
## Problem Description

Reported by @tbazant via chat

This article at https://susedoc.github.io/doc-sle/main/html/SLES-amd-sev/article-amd-sev.html#sec-amd-sev-config contains a link at the end that points to "Section 4.11 *“Configuring the VM Host Server and the VM Guest to use huge pages”*.

However, this reference is *outside* of the current article and thus considered as an "intra-xref".

##

[2021-08-27 16:34] tomschr opened #437 "Need to rename @id -> @xml:id and @lang -> @xml:lang?"
## Problem Description

The suse2021-ns stylesheets are "namespace aware", which means, you can use DocBook5 natively without any internal workarounds.

After looking a bit more closer today, I've recognized that some attributes should be prefixed with `xml:` (mainly `xml:id` and `xml:lang`).

I'm aware, that the stylesheets take into account both `id` and `xml:id` (and `lang` and `xml:lang`). How

[2021-08-27 17:45] sknorr opened #438 "Charis SIL 6.x is incompatible with FOP"
Within the suse2013 and suse2021-ns stylesheets, we're using Charis SIL as a font for paragraphs in PDFs. This has always worked fine, however, version 6.x of the font, which since mid-Aug 2021 has been shipped via M17n:fonts is incompatible with FOP. The incompatibility shows in the sense that the font can't be embedded into the document for some reason, though on systems with the font installed,

[2021-09-02 14:35] sknorr commented on #438
The Poppins issue could probably be dealt with just a custom package with only a limited number of weights. I.e. just regular+bold (and italics of both). The issue is mostly that FOP can't deal with 100, 200, 300, ... weights properly somehow.

[2021-09-02 16:43] tomschr commented on #438
I would advise against this. Although a custom package would probably technically work, it's something "separate". See my idea below.

To meet our requirements, I would suggest a different approach. I have these ideas in mind:

a. Create a new directory, lets say `/usr/share/daps/fonts/`, and *link* only the fonts that you need from the original `/usr/share/fonts/truetype/`. Additionally, add the

[2021-09-02 17:34] sknorr commented on #438
I have been talking to Frank about the need for per-stylesheet FOP and XEP config files before, but so far that is not implemented. The XEP and FOP config cannot be determined via the stylesheet. It follows the usual 1. DC file - 2. ~/.config/daps/dapsrc - 3. /etc/daps/dapsrc precedence rule. For us, this is not particularly useful.

[2021-09-03 12:14] #437 closed

[2021-09-08 14:35] #435 closed

[2021-09-08 19:14] sknorr commented on #412
Dupe: [bsc#1190233](https://bugzilla.suse.com/show_bug.cgi?id=1190233) - make sure to close when fixed.

[2021-09-16 17:49] sknorr commented on #438
@tomschr I promised to add my (broken!) FOP patch here, attempting to work out the issues with Work Sans & Poppins, this is it: [0001-Fix-detection-for-thin-extra-light-black-fonts.patch](https://github.com/openSUSE/suse-xsl/files/7179954/0001-Fix-detection-for-thin-extra-light-black-fonts.log)

[2021-09-17 14:09] tomschr opened #440 "Support videoobject"
# Problem Description

For our doc evolution project we would like to support screencasts. Of course, this needs to be supported first in GeekoDoc (see below).

<details>
  <summary>Input XML fragment with informalfigure/mediaobject/videoobject</summary>

[code]
</details>

However, there are differences between the XHTML and XHTML5 output:

<details>
  <summary>Output HTML from the XHTML styleshe

[2021-11-03 18:39] sknorr opened #441 "Long abstracts break PDF title page layout"
The TRD currently use the suse2021-ns design using `<book/>` elements. Unfortunately, they also include a fairly long disclaimer in the abstract. The abstract+SUSE postal address should be shown on page 2 of the book. Unfortunately, the long abstract  appears to push down the SUSE postal address to page 2 somehow, despite the combined height of abstract and postal address seemingly still being muc

[2021-11-16 18:43] sknorr opened #442 "Move Edit source / Report bug / Permalink out of h1..h6 markup"
Contentking thinks that the Edit source etc. links are all part of the content of the headline, which they really shouldn't be. It's likely that actual search engines may think similarly.

[2021-11-30 11:59] KucharczykL opened #443 "`xref` renders as plain text"
## Problem Description
The code below renders as plain text instead of a link:
[code]

(Source at https://gitlab.suse.de/documentation/release-notes-sles/-/blob/15_SP1/xml/release-notes.xml#L3841)

![image](https://user-images.githubusercontent.com/31072879/144043372-d51f8ed0-dd0b-4569-8c45-7fd15303244f.png)

This only happens locally on my Tumbleweed installation:

Name           : suse-xsl-style

[2021-12-01 11:38] sknorr commented on #443
This issue occurs because the new stylesheets no longer support DocBook 4's `@id`, and instead look for DocBook 5's `@xml:id` attributes. This is an intended change that has simplified code in quite a few places already. As such, I think this is a wontfix.

* If you need to update to the new stylesheets, please update to DocBook 5 along with that. For release notes content, that operation should e

[2021-12-01 11:38] #443 closed

[2021-12-03 10:56] tomschr commented on #441
I suppose, the table in the [`book.titlepage.verso`](https://github.com/openSUSE/suse-xsl/blob/main/suse2021-ns/fo/book.titlepage.templates.xsl#L245) template should be replaced with a `fo:block-container`. This would allow us to place the two components absolutely. One drawback might be that the disclaimer could overflow the address. Probably, this is a small risk we can take.

[2021-12-03 12:18] sknorr commented on #441
The table is currently 40% top row, 60% bottom row.
So the easiest option would actually be to reverse the sizing of table rows.
Doing an even more extreme 75% top row, 25% bottom row would probably also be possible, given the content on the bottom.

One thing that neither idea accounts for properly is how to deal with really really long abstracts that actually fill a PDF page.
The current option

[2021-12-03 15:20] vmoutoussamy commented on #424
BTW we are now using some Public Bugzilla products for documentations issues. For instance: https://bugzilla.suse.com/buglist.cgi?list_id=13526478&product=PUBLIC%20SUSE%20Linux%20Enterprise%20Server%2015%20SP4&query_format=advanced&resolution=---&resolution=FIXED&resolution=INVALID&resolution=WONTFIX&resolution=NORESPONSE&resolution=UPSTREAM&resolution=FEATURE&resolution=DUPLICATE&resolution=WORKS

[2021-12-06 08:57] tomschr commented on #441
That would also be an option.

That's true. I suppose, it depends on how likely this will happen. Neither option is  really great if the stylesheets are faced with lots of content.

I would suggest a different approach.

I'm fine to adapt the percentages of the top and bottom row as you suggested. That would be an easy fix. However, apart from this little change I don't think we should spent more

[2021-12-21 13:17] tomschr opened #445 "Chunking on article level doesn't work"
## Problem Description

For the Trento doc, Lee would like to see chunked HTML. This would enable us to link from the Web page to specific portions in the doc. I've tried to enable chunking in the `DC-SLES-SAP-trento` file with:

    XSLTPARAM="--stringparam chunk.section.depth=1"

Although it creates the expected chunks, the header hides some parts of the text (it's too big). It seems, some CSS r

[2021-12-21 15:14] cwickert commented on #116
Bump. We really should to address this.

[2022-01-04 15:13] quatran commented on #438
Issue can't be longer reproduced. It was probably fixed by an update for `xmlgraphics-fop`.

[2022-01-04 15:13] #438 closed

[2022-01-05 14:33] quatran commented on #438
I have opened an Apache Jira Ticket for the issue regarding Poppins

https://issues.apache.org/jira/browse/FOP-3045

[2022-01-05 14:54] sknorr opened #446 "Work Sans/Poppins do not work because of broken FOP auto-detection"
The Poppins font has issues with FOP: FOP always selects the ultra-light version rather than the regular one.

The Poppins issue could probably be dealt with in a few ways:

1. a custom package with only a limited number of weights. I.e. just regular+bold (and italics of both). The issue is mostly that FOP can't deal with thinner and very thick weights (100, 200, 300, 800, 900) properly somehow. [

[2022-01-05 14:55] sknorr commented on #438
Ok, since the Charis issue is reportedly solved but the Poppins/Work Sans issue is still open, I guess, we need a new bug.
Welcome, #446..

[2022-01-07 13:46] quatran commented on #446
1 and 2 won't work because Poppins Regular Italic isn't recognized by FOP correctly. Poppins Regular Italic is necessary for use case.

3 has the problem that only Daps can ship a FOP config. But the FOP config we need is dependent on the fonts needed by suse-xsl-stylesheets. This would create a circular reference.

@tomschr @fsundermeyer What are your thoughts on this?

[2022-01-10 12:46] tomschr commented on #446
Ok, thanks Quang for your efforts. Seems packaging or directory configs are not a viable workaround. I thought something as simple and basic as font weights should work. That's disappointing.

So it looks like it's a deficiency/bug in FOP.

The circular dependency issue is probably the least of the problems. We could try option 3 and hope to get around this issue.

Another alternative that I can t

[2022-01-10 13:16] sknorr commented on #446
Configuring the font that way should definitely work. The issue is just that either

1. We use DAPS to ship an FOP config that only works with a specific set of stylesheets (super-ugly imo).
2. We use the stylesheets package to ship the FOP config and each user needs to apply it individually via `~/.config/daps/dapsrc` (predictably, most people will not apply this config [1]; also super-ugly).
3.

[2022-01-10 15:56] fsundermeyer commented on #446
1 and 2 are no suitable options, because this only works locally. We would get into trouble when buiulding on OBS (or would have to adjust the spec files).
Option 4 is doable, we would need a defined location like `<STYLEROOT>/pdf/daps/fop.conf`.
Option 3 sounds good to me, too.

[2022-01-10 16:09] sknorr commented on #446
Thanks for the quick response!

Circa 2013, when I didn't yet know that the stylesheet-dependent formatter config approach is not supported by DAPS, I created a place for that already, `<STYLEROOT>/formatter-config`:
https://github.com/openSUSE/suse-xsl/tree/main/suse2021-ns/formatter-config

[2022-01-10 16:33] tomschr commented on #446
I've talked to Quang and he will investigate if registering a font would be suitable. This is easy and quick to test. We think, this is the best method before we do any other, more complicated things.

If that works, that will give us some benefits:

a. We still can use the auto-detect feature.
b. Manual defined fonts overwrite auto-detected fonts (according to the FOP web page).
c. We can add our

[2022-01-11 15:45] quatran commented on #446
I have registered the fonts in the `fop.xconf` and it works. So we can safely assume that the auto-detection of FOP does not work for Poppins. The font itself is fine.

Screenshot: left before - right after
![Screenshot_2022-01-11_16-39-12](https://user-images.githubusercontent.com/54893750/148973604-843f2aa4-3a8b-4767-bd8e-37982e444868.png)

The used `fop.conf` and `FO` as an attachment.
[poppins

[2022-01-11 15:59] sknorr commented on #446
@quatran Thanks! Minor thing: Those italics do not look right currently, they are too slanted. You should definitely switch to `simulate-style="false"` for those before committing this anywhere.

[2022-01-11 16:21] quatran commented on #446
@sknorr Thanks. I have fixed this.

[2022-01-12 07:20] tomschr commented on #446
That's great! Thanks Quang, that looks very promising!

I think, from what Quang found, we could proceed as follows:

1. Use Quang's configuration with a) autodetection enabled, and b) the font structure for Poppins. FOP can still find other fonts. If needed, we could amend the config with our additional font structures.
2. Change the FOP config in the daps repo accordingly.

This has the followin

[2022-01-12 09:55] fsundermeyer commented on #446
We already have differnt fop-configs (generic, RedHat, SUSE) handled by autoconf, so that shoul not be a problem (https://github.com/openSUSE/daps/tree/main/etc/fop)

[2022-01-12 10:18] sknorr commented on #446
On that point:

Those are actually not avoided -- whenever we'd need another ~incompatible font in the stylesheets, we would still have to update both the DAPS and the suse-xsl-stylesheets package. (And both of SUSE's last two fonts, Work Sans and Poppins were incompatible. It stands to reason that upon a redesign this pattern would continue.)

I hadn't thought about this ... but indeed if we want

[2022-01-12 14:14] tomschr commented on #446
Just to summarize what we (Quang, Stefan, and I) discussed in our meeting.

Stefan thinks, adding the modified FOP config to the daps repo would still be an unclean solution. However, for the time being and due to resource constraints, we follow this approach.

Quang will open a pull request on the daps repo with his modified FOP config.

Thanks to all!

[2022-01-17 17:30] sknorr commented on #438
I finally got to checking this again. It appears the issue is fixed by FOP 2.6.

We are not using either FOP 2.6 or Charis 6.0 in our Leap containers but we probably should ...

[2022-01-19 18:31] sknorr commented on #441
Relevant for https://github.com/doc-suse-com/site/issues/53.

[2022-01-19 18:33] ghost opened #448 "Co-branding of title pages"
We need to be able to put multiple company logos on PDF title pages and at the beginning of HTMLs. The old suse2013-sbp layout has support for using `article/info/cover` elements to do that, we need to add that support to the ~suse2021~ suse2022 stylesheets and extend it to support HTML too.

Relevant for https://github.com/doc-suse-com/site/issues/53.

cf. #215.

[2022-01-24 19:38] sknorr commented on #441
I have done that in 9d9e9fc. That works for the amount of content the TRDs need for the abstract. So I am going to close this one, even as the solution is not great.

We're using computers -- the amount of space we have is essentially endless. It's certainly more than a single page.

The issue is that providing long abstracts does not mean the abstracts are "garbage."
In this case, the issue is im

[2022-01-24 19:38] #441 closed

[2022-01-24 19:53] sknorr commented on #431
Fixed via 886b9dc

[2022-01-24 19:53] #431 closed

[2022-02-03 10:49] #446 closed

[2022-02-22 11:52] sknorr commented on #442
This is fixed in the suse2022-ns stylesheets:

* All documentation pages (docs.python.org, docs.microsoft.com, ...) that I compared also put the permalink directly into the headline -> The suse2022-ns styles continue to have the permalink in the h1..h6 markup.
* The Edit source & Report an issue links have wandered off into the right sidebar.

This continues to be unfixed in the older suse2021-ns

[2022-02-22 11:52] #442 closed

[2022-02-22 11:55] sknorr commented on #421
Fixed in the suse2022-ns stylesheets, we just use textContent there. Not fixed in earlier stylesheets. Closing nonetheless.

[2022-02-22 11:55] #421 closed

[2022-02-22 11:57] sknorr commented on #408
Fixed for desktop window widths in the suse2022-ns stylesheets. Keeping the version number visible at all times at lower window widths is less feasible because of space constraints.

Still not fixed in older stylesheets. Closing nonetheless.

[2022-02-22 11:57] #408 closed

[2022-02-22 12:02] sknorr commented on #333
Close this -- Bugzilla now has public-facing components for most SLE products which are now used for docs, making the handstands detailed in this issue unnecessary.

Implementing this issue would have made the bug reporting experience even more confusing because user would have had to choose between two different bug reporting features.

[2022-02-22 12:08] sknorr commented on #357
I think the solution here is to just use `<command>some-command --my-option <replaceable>VALUE</replaceable></command>` rather than `<command>some-command</command> <option>--my-option <replaceable>VALUE</replaceable></option>`.

Personally, I think this is a WONTFIX, but I am leaving it open for now anyway...

Related: https://github.com/SUSE/doc-styleguide/issues/63

[2022-02-22 12:11] sknorr commented on #352
I guess this must have been fixed somehow. I definitely haven't seen issues recently & this issue description is not very clear either.

[2022-02-22 12:11] #352 closed

[2022-02-22 12:12] sknorr commented on #335
No longer relevant -- the SUSE branding has changed.

[2022-02-22 12:12] #335 closed

[2022-02-22 12:28] sknorr commented on #236
This was a result of bad CSS margins. It was definitely fixed at some point, though I can't point out the commit right now ... Closing.

[2022-02-22 12:28] #236 closed

[2022-02-22 13:30] ghost opened #451 "Known issues in the suse2022-ns styles (as of commit `a006259`)"
@tomschr For you. Don't be scared about the length of this issue. It is not that bad (imo, anyway). The ToC generation issues should be resolved eventually though, as should the missing SBP customization.

* **New issues chunked HTML:**

  - [ ] Optical issue: The left sidebar of articles is usually empty. This looks weird.
        There's a bit of a logical gap here: it was not immediately clear

[2022-02-22 13:52] sknorr commented on #18
This looks like it was solved eventually. This is the modern version of Tanja's test page: https://documentation.suse.com/sle-ha/12-SP5/single-html/SLE-HA-guide/#ex-ha-storage-protect-sbd-timings

[2022-02-22 13:52] #18 closed

[2022-05-02 11:53] lvicoun opened #452 "Different font size in abstract and para in pdf"
## The abstract element is not visibly separated from para, but uses a different font size, which can be easily noticed by the user.

[2022-05-17 10:29] tbazant opened #453 "Implement green color for checkmarks in support matrix tables"
## Problem Description
While the UTF crossmark is naturally red, checkmark is normally black and is not so distinct. Greening it would help readability

[2022-05-25 12:51] tomschr commented on #453
I've implemented now the colored text in the above PR.

Basically you need a processing instruction `<?dbsuse color="..."?>` wrapped inside a `<phrase>`. The `color` key can hold several possible values:

* SUSE brand colors
  suse-jungle-green, suse-pine-green, suse-midnight-blue, suse-waterhole-blue, suse-mint, suse-persimmon, suse-fog
* "Typical" CSS color names
  aqua, black, blue, darkgray/da

[2022-05-30 15:24] tomschr opened #455 "Content vanish for localized documents"
## Problem Description

when transforming localized content into HTML, the content itself has vanished. It's still there, but it isn't displayed.

After further inspection, I've identified a problem in untranslated strings coming from the stylesheet.

This is the English version:

[code]

This is a translated version (for example, Spanish):

[code]

## Expected Behaviour

Content is visible also f

[2022-05-31 12:28] tomschr opened #457 "New translation strings in `common/l10n/en.xml` that are not yet translated:`+ <l:gentext key="moredocuments" text="More documents"/>++ <l:gentext key="onthispage" text="On this page"/>++ <l:gentext key="givefeedback" text="Give feedback"/>+ <l:gentext key="reportbug" text="Report an issue"/>+ <l:gentext key="editsource" text="Edit source document"/>++ <l:gentext key="previouspage" text="Previous"/>+ <l:gentext key="nextpage" text="Next"/>` ++ ++ + + ++ + " tabindex="0" role="button">"

[2022-05-31 12:29] tomschr commented on #457
related to #455

[2022-05-31 12:29] #457 closed

[2022-05-31 13:58] fsundermeyer opened #458 "l10n issues"
The following issues were found during the localisation of SES 7.1. I assume they are valid for both, 2021 and 2022 stylesheets.

* [x] ZH-CN / ZH-TW
- PDF bookmark format requires syntax edit Glossary sorting in pinyin request.
- Automatic glossary sorting is switched off in the stylesheets.

* [ ] ZH-TW
- PDF bookmark format requires syntax edit
- Date format on page ii needs to be modified. We

[2022-06-27 07:28] janajaeger opened #462 "Disable alternate row coloring for two-column informaltables"
Currently, the default for all tables even informal ones is to have alternate row coloring to improve readability. This option, should be turned off for two-column informaltables as they normally consist of a first column listing some sort of key and a second column that lists a value or description.

In this case, it would make sense to either:

- use a proper table with a heading and keep the co

[2022-06-27 08:46] tomschr opened #463 "Inline elements in screen (like filename) isn't rendered correctly."
## Problem Description

Inside a `screen`, any other inline element like `filename` isn't rendered correctly. It isn't visible.

## Expected Behaviour

The inline elements are rendered correctly (are visible).

## Related issue

[bsc#1200261](https://bugzilla.suse.com/show_bug.cgi?id=1200261)

[2022-06-27 10:07] #463 closed

[2022-07-04 07:13] tomschr commented on #3
Decided on 2022-07-04 that this feature is unimportant.

[2022-07-04 07:13] #3 closed

[2022-07-04 07:15] tomschr commented on #5
As discussed on 2022-07-04, this seems already fixed.

[2022-07-04 07:15] #5 closed

[2022-07-04 07:17] tomschr commented on #9
As discussed on 2022-07-04, this seems already fixed.

[2022-07-04 07:17] #9 closed

[2022-07-04 07:18] tomschr commented on #10
As we don't support EPUB anymore, this is closed as won't fix.

[2022-07-04 07:18] #10 closed

[2022-07-04 07:19] #42 closed

[2022-07-04 07:19] tomschr commented on #212
As we don't support EPUB anymore, this is closed as won't fix.

[2022-07-04 07:19] #212 closed

[2022-07-04 07:19] #248 closed

[2022-07-04 07:19] tomschr commented on #286
As we don't support EPUB anymore, this is closed as won't fix.

[2022-07-04 07:19] #286 closed

[2022-07-04 07:19] tomschr commented on #395
As we don't support EPUB anymore, this is closed as won't fix.

[2022-07-04 07:19] #395 closed

[2022-07-04 07:20] tomschr commented on #23
As we don't support EPUB anymore, this is closed as won't fix.

[2022-07-04 07:20] #23 closed

[2022-07-04 07:21] tomschr commented on #27
As we don't support EPUB anymore, this is closed as won't fix.

[2022-07-04 07:22] tomschr commented on #21
As we changed our branding, fonts changed as well. This bug is not applicable anymore. Setting it to won't fix.

[2022-07-04 07:22] #21 closed

[2022-07-04 07:24] tomschr commented on #17
As discussed on 2022-07-04, this is a won't fix issue.

[2022-07-04 07:24] #17 closed

[2022-07-04 07:26] tomschr commented on #39
This is already in place for the suse2022-ns variant.

[2022-07-04 07:26] #39 closed

[2022-07-04 07:34] tomschr commented on #44
This is already fixed for the suse2022-ns stylesheets

[2022-07-04 07:43] tomschr commented on #45
It's not relevant anymore for SmartDocs. Closing it as won't fix.

[2022-07-04 07:51] tomschr commented on #56
As discussed with Jana today, as we focus more on SEO, titles need to be shortened anyway.

[2022-07-04 07:55] tomschr commented on #59
As discussed today, not relevant for suse2022 stylesheets anymore (focusing more on HTML than PDF).

[2022-07-04 07:55] #59 closed

[2022-07-04 08:09] tomschr commented on #76
Needs to be check with recent version of FOP.

[2022-07-04 08:14] tomschr commented on #77
As discussed today, this is next to impossible to determine if a screenshot contains a border or not. We think, this is the responsibility of the author who does the screenshot.

[2022-07-04 08:14] #77 closed

[2022-07-04 08:22] tomschr commented on #84
As discussed today, we think it's a non-issue because:

* author shouldn't rely on an automatic breaking mechanism
* author ensures that the length of a line should not exceed 80 characters (see styleguide)
* author can reduce font size with processing instruction or break on strategic positions

[2022-07-04 08:22] #84 closed

[2022-07-04 08:33] tomschr commented on #106
Although you can keep things together, you end up with other, ugly outcome. We need to live with that, so it's a non-issue ATM.

[2022-07-04 08:33] #106 closed

[2022-07-04 08:34] #110 closed

[2022-07-04 08:50] tomschr commented on #117
This is something for @jfaltenbacher and Padraig. Could we send this to our translators too?

[2022-07-04 08:57] tomschr commented on #126
We focus on the new suse2022 for now. It's a non-issue for us.

[2022-07-04 08:57] #126 closed

[2022-07-04 08:58] tomschr commented on #127
This is already done for the suse2022 stylesheets, so it's a non-issue.

[2022-07-04 08:58] #127 closed

[2022-07-04 09:12] tomschr commented on #133
Probably easy to check: compare the keys from the English file with the Arabic language file.

[2022-07-04 09:18] tomschr commented on #134
Ideas:

* The respective elements need IDs (otherwise we cannot make it work)
* The new layout suse2022 needs to be changed as well ("Report new issue" should be go to each element)

[2022-07-04 09:21] tomschr commented on #136
Non-issue as we don't use footnotes.

[2022-07-04 09:21] #136 closed

[2022-07-04 09:28] tomschr commented on #143
Not relevant anymore.

[2022-07-04 13:54] tomschr opened #465 "Replace old SUSE logo"
## Problem Description

For SBPs, there is an old SUSE logo which has to be replaced by a new one.

## Expected Behaviour

SBPs contain now the new SUSE logo.

[2022-07-04 15:59] tomschr commented on #117
Forget it, it's a duplicate of #455, therefore closing.

[2022-07-04 15:59] #117 closed

[2022-07-05 09:27] janajaeger commented on #132
Checked against current docs on documentation.suse.com. The alt tags are there, but default browser configs don't allow for them to be displayed. If a user decides to see alt content, they need to change their browser setting.

So this is again a non-issue for our stylesheets :)

[2022-07-05 09:27] #132 closed

[2022-07-05 15:19] #465 closed

[2022-07-05 15:26] tomschr commented on #458
@jfaltenbacher Can you answer the about the date format? Or do you know about sorting in Chinese? Thanks!

[2022-07-06 05:15] jfaltenbacher commented on #458
Chinese date format is yyyy-mm-dd (as in ISO 8601)

Because of the glossary sorting. I remember having the same problems at my former job and we always had issues with the glossary, but could never solve them because of missing language skills. I don't remember if we just left the glossary as it came out or if we removed it from the translated books in the end. From what I remember the sorting was

[2022-07-06 07:05] #458 closed

[2022-07-06 11:18] #96 closed

[2022-07-08 09:47] #453 closed

[2022-07-11 06:22] janajaeger commented on #462
Third alternative brought up by Tahlia: Ditch those use cases altogether and use lists instead. This would make this issue a style issue rather than a stylesheet issue. Feel free to close as invalid.

[2022-07-11 06:25] janajaeger commented on #169
This is pretty much reality in 2022. Closing this one.

[2022-07-11 06:25] #169 closed

[2022-07-11 06:32] janajaeger commented on #177
2022 tables have this feature. So bye-buy ...

[2022-07-11 06:32] #177 closed

[2022-07-11 07:00] janajaeger opened #472 "Icons instead of bulky text for "Edit source" and "Report a bug""
Create icons for Edit source and report a bug links.
Use with alt and title attributes.

[2022-07-11 08:41] janajaeger commented on #472
Here's one with a literal bug. Not sure whether that "translates" well. Icons are roughly 20x20 px. Would recommend to tune down the green a bit or switch to some dark grey instead. What do you guys think?

![reportbug_editsouce_literalbug](https://user-images.githubusercontent.com/93585322/178223828-174671ad-908c-42a0-bc74-cc73d8ddf8e3.png)

[2022-07-11 09:53] janajaeger commented on #149
Is this still an issue or can we close this?

[2022-07-11 10:34] tomschr commented on #149
From my point of view, this is already covered by our Analytics stuff. So yes, closing it.

[2022-07-11 10:34] #149 closed

[2022-07-11 10:39] tomschr commented on #462
I would lean toward Tahlia's idea and make it a styleguide issue rather than a stylesheet. I'm closing it as invalid (as you suggested), but feel free to reopen it.

[2022-07-11 10:39] #462 closed

[2022-07-11 11:49] fsundermeyer commented on #472
Fully support what Toms says. If you would choose a white/transparent background and invert the icon on hover,
that would be ideal IMHO (together with an increased size)

[2022-07-12 05:31] janajaeger commented on #143
If it's not relevant, it goes bye-bye ;)

[2022-07-12 05:31] #143 closed

[2022-07-12 05:39] janajaeger commented on #150
This looks good nowadays. Closing for now.

[2022-07-12 05:39] #150 closed

[2022-07-12 05:41] janajaeger commented on #452
This doesn't just concern PDF. HTML has the same issue.

[2022-07-12 05:46] janajaeger commented on #148
This is fixed in 2022. Closing. Feel free to reopen, if this issue resurfaces again.

[2022-07-12 05:46] #148 closed

[2022-07-12 07:22] janajaeger commented on #161
@tomschr if you have some more details on format (SVG?), size etc., I could provide you with a little something.

[2022-07-12 07:33] janajaeger commented on #159
2022 sees a rudimentary Google search on our pages. Closing this one as we have Jira issues for the Smart Docs related search topics.

[2022-07-12 07:33] #159 closed

[2022-07-12 07:50] tomschr commented on #472
Thank you very much for your efforts! Much appreciated. :+1:

I'm not an UX expert. IMHO, I prefer option 2 for the following reasons:

* The other options are a bit too "bulky" for my taste.
* Option 2 is a bit more subtle.
* Option 2 doesn't distract too much from the title (which should be the main focus).

Maybe we can change the size a bit. Just my two cents. :wink:

[2022-07-12 08:06] janajaeger commented on #155
This looks like it has been fixed. Can you verify, please, @tomschr ?

[2022-07-12 08:13] janajaeger commented on #172
Looks very much fixed in 2022. Space between different items is now slightly bigger than the one between term and listitem. Closing this one.

[2022-07-12 08:13] #172 closed

[2022-07-12 08:15] janajaeger commented on #171
@tomschr Implement a check or go for the pragmatic approach here?

[2022-07-12 08:28] janajaeger commented on #170
@tomschr Can you investigate and determine what to do with this one?

[2022-07-12 09:41] tomschr commented on #161
@janajaeger Sure, some details that I think could be useful:

* Format: SVG for sure. :wink:
  Maybe we could use a [document icon (SUSE gallery)](https://suse.imagerelay.com/folders/1089914#assets/82949386) or a [book icon (FontAwesome)](https://fontawesome.com/search?p=1&q=book).
* Size
  It has to fit between the line(s). Here is an example of an external link (watch for the arrow up icon after

[2022-07-12 09:45] tomschr commented on #155
I'm not sure what this really means: text characters in normal lines or text content inside screen tags?

[2022-07-12 10:08] janajaeger commented on #168
Can you make sense of this, @tomschr ? Close, if it's fixed, close if you can't find out what was meant by this or fix, if this still isn't done.

[2022-07-12 10:09] janajaeger commented on #167
Still relevant? And what was meant by this in the first place?

[2022-07-12 10:10] janajaeger commented on #165
Still relevant?

[2022-07-12 10:13] janajaeger commented on #164
In 2022, tooltips are looking great. Closing this one.

[2022-07-12 10:56] tomschr commented on #168
I did a small test with `<legalnotice>` and it works:

![Screenshot_20220712_125553](https://user-images.githubusercontent.com/1312925/178474784-a1ae61a8-1037-44c1-a798-382ecd9e4f40.png)

Closing it as fixed.

[2022-07-12 10:56] #168 closed

[2022-07-12 11:39] tomschr commented on #171
You can't.

The comparison itself is easy, of course. However, to get the **image width from the image itself** is not. This is one of the use cases where you can only do such a thing with extensions. Usually, they are written in C or Java.

We avoided these situations by using percent units. Coming back to the original request, "800" omitted the unit and it's basically "800px".

[2022-07-12 12:18] tomschr commented on #171
As discussed, we think it's a GeekoDoc issue. Closing.

[2022-07-12 12:18] #171 closed

[2022-07-12 14:13] janajaeger commented on #173
@tomschr is this fixed in 2022? If so, feel free to close ;)

[2022-07-12 14:15] janajaeger commented on #175
@tomschr Can you make sense of this and has this been dealt with in the meantime?

[2022-07-12 14:30] janajaeger commented on #178
Looks great in 2022. This is fixed.

[2022-07-12 14:38] janajaeger commented on #179
@tomschr can you make sense of this and check whether this is an issue anymore?

[2022-07-12 15:23] janajaeger commented on #187
This is fixed in 2022

[2022-07-12 15:23] #187 closed

[2022-07-12 15:43] #185 closed

[2022-07-12 15:47] janajaeger commented on #200
The procedure part is done in 2022, but the weird numbering still persists. Please, investigate. We might want to use these for Smart Docs.

[2022-07-13 13:54] janajaeger opened #474 "Use alt and title attributes with any kind of image in HTML"
Currently, alt values are in the HTML code, but not displayed by default by any browser.

To get this information to show, modify the style sheets to duplicate the description or title values to produce both an `alt` attribute (Google expects this for SEO) and a title attribute (that actually gets displayed).

Also, consider adding them to informaltables and the like. Will try to come up with a li

[2022-07-13 14:01] #154 closed

[2022-07-13 14:03] janajaeger commented on #190
XEP is history. So is this issue.

[2022-07-13 14:03] #190 closed

[2022-07-13 14:05] janajaeger commented on #188
No progress as of 2019. Related BSC is closed. Closing this one as well.

[2022-07-13 14:06] janajaeger commented on #192
Still relevant in 2022?

[2022-07-13 14:16] janajaeger commented on #195
Still relevant in 2022?

[2022-07-13 14:17] janajaeger commented on #197
Still relevant?

[2022-07-13 14:17] #188 closed

[2022-07-13 14:57] janajaeger commented on #202
Still relevant?

[2022-07-13 15:00] janajaeger commented on #205
2005 is history. So is this issue. Closing.

[2022-07-13 15:00] #205 closed

[2022-07-13 15:23] janajaeger commented on #214
@fsundermeyer can you make sense of it or is it safe to close this one?

[2022-07-13 15:26] janajaeger commented on #222
@tomschr what's the 2022 take on this one? Any news?

[2022-07-14 05:47] janajaeger commented on #215
[TRD-SBP-future-layout-stylesheet-elements-14042022.pdf](https://github.com/openSUSE/suse-xsl/files/9108900/TRD-SBP-future-layout-stylesheet-elements-14042022.pdf)

Pretty much a cleaner version of the whiteboard drawing. This is what the mockups will be based on.

[2022-07-14 08:30] tomschr commented on #188
I saw one of the more recent FOP versions improved this.

[2022-07-15 10:20] janajaeger commented on #472
Those would be the optimized SVGs. Now the challenge is to properly include them:
![edit_source_test](https://user-images.githubusercontent.com/93585322/179203934-70c71a2d-3ec9-4fbd-8ae3-463cd32dd91e.svg)

```<svg xmlns="http://www.w3.org/2000/svg" width="23.067348" height="26.213722" viewBox="0 0 6.1032359 6.9357145" version="1.1"><path fill="none" stroke="#c0c2c4" stroke-width="0.264583px" d="m

[2022-07-15 13:31] tomschr commented on #173
No, this file still exists in the 2022-ns stylesheets. However, I haven't seen any issues in other languages, so closing it for the time being.

[2022-07-15 13:31] #173 closed

[2022-07-15 13:35] tomschr commented on #175
PDF (and actually HTML to some degree) contains a _layout grid_ which is useful to align placements of lists and other block elements. It's a "nice to have", but we have more important issue.

[2022-07-15 13:40] tomschr commented on #179
Well, yes. DocBook lists can be rendered in a "normal" mode and in a more "compact" mode. That's the `spacing` attribute for. The compact mode reduces the spacing between each consecutive list items.

I think we shouldn't allow this attribute and remove it in GeekoDoc. Or do you think we should keep it?

[2022-07-15 13:42] tomschr commented on #183
It's a "nice to have". Most of the time, the PDF is fine. For the time being, probably not important.

[2022-07-15 13:42] #183 closed

[2022-07-19 07:26] janajaeger commented on #226
Does this still apply or can this be closed? Please have a look and decide how to proceed?

[2022-07-19 07:27] janajaeger commented on #235
Going to check this.

[2022-07-19 07:30] janajaeger commented on #238
@tomschr can you take a peak and decide on how to proceed?

[2022-07-19 07:47] janajaeger commented on #240
This is still not fixed. Confirming Stefan's suspicions. Let's hunt for the hardcoded "book.". @tomschr let's have a short chat about this some time.

[2022-07-19 07:49] janajaeger commented on #241
@tomschr this one is for you. Please decide how to proceed here.

[2022-07-19 13:13] janajaeger commented on #244
Any news on this one? How to proceed here, @tomschr ?

[2022-07-19 13:16] janajaeger commented on #247
Confirmed fixed or no more an issue in 2022 on Chrome. Closing this one.

[2022-07-19 13:29] janajaeger commented on #213
Confirmed in July 22. It still points to a tipp, but does not pass on a page number. But that is pretty much the default setting for all links inside a book PDF. They are clickable and don't contain page information. @tomschr how do we proceed. Keep as is, change the default?

[2022-07-19 14:55] janajaeger commented on #263
Not an issue anymore. No XEP, no issue. Closing this one.

[2022-07-19 14:55] #263 closed

[2022-07-19 15:39] janajaeger commented on #250
Page numbers are off for this kind of links by default, but the PDF viewer jumps to the right position. Providing the page number would be nice for all the readers who print their docs ...
@tomschr do we want to change the default to something that also prints the page numbers?

[2022-07-19 15:47] janajaeger commented on #251
This appears to be fixed in 2022. Closing for now. Feel free to reopen, if something fishy comes up again.

[2022-07-19 15:47] #251 closed

[2022-07-20 05:39] janajaeger commented on #264
@tomschr can we safely assume, things haven't changed and close this?

[2022-07-20 05:43] janajaeger commented on #265
@tomschr this appears to be fixed in the standard docbook stylesheets. Is it fixed with our stuff as well? Can we safely close this one?

[2022-07-20 05:46] janajaeger commented on #283
This is pretty much standard (mis-)behavior of PDF readers. This is a won't fix.

[2022-07-20 05:46] #283 closed

[2022-07-20 05:49] janajaeger commented on #284
This seems to be fixed. See bugzilla entry. Closing this for now. Feel free to reopen, should the problem persist.

[2022-07-20 05:49] #284 closed

[2022-07-20 05:52] janajaeger commented on #275
Couldn't confirm in 2022. Closing for now. Feel free to reopen, should this become an issue again.

[2022-07-20 05:52] #275 closed

[2022-07-20 05:54] janajaeger commented on #289
@tomschr if this goes beyond cosmetics, it might make sense to investigate this. But if the stuff does what it's supposed to or at least doesn't break anything, feel free to ignore and close.

[2022-07-20 07:07] janajaeger commented on #291
This is fixed in 2022. Closing!

[2022-07-20 07:07] #291 closed

[2022-07-20 07:07] janajaeger commented on #294
@tomschr still an issue in 2022?

[2022-07-20 07:23] janajaeger commented on #297
The code is still unchanged in 2022. @tomschr, please decide how to proceed here.

[2022-07-20 07:27] janajaeger commented on #299
Appears fixed ... in July 2022.

[2022-07-20 07:27] #299 closed

[2022-07-20 07:35] janajaeger commented on #300
Appears fixed in 2022. Closing this one.

[2022-07-20 07:35] #300 closed

[2022-07-20 07:37] janajaeger commented on #301
@tomschr still an issue in 2022?

[2022-07-20 08:41] janajaeger commented on #302
@tomschr please advise on how to proceed. It doesn't look much of an issue in 2022 for me, though.

[2022-07-20 08:44] janajaeger commented on #304
@tomschr what about this qanda.in.toc parameter, then? Is it default now?

[2022-07-20 08:46] janajaeger commented on #305
Fixed in July 2022. Closing this one.

[2022-07-20 08:46] #305 closed

[2022-07-20 08:56] janajaeger commented on #308
No further info, no further complaints since 2017. Closing this for the time being.

[2022-07-20 08:56] #308 closed

[2022-07-20 09:20] janajaeger commented on #318
Looks fixed in 2022

[2022-07-20 09:20] #318 closed

[2022-07-20 09:22] janajaeger commented on #320
Appears to be fixed in 2022. Closing for now.

[2022-07-20 09:22] #320 closed

[2022-07-20 09:32] janajaeger commented on #325
@tomschr still an issue with styles-2022?

[2022-07-20 09:34] janajaeger commented on #332
Related geekodoc issue is fixed. Therefore closing this as well. Feel free to reopen.

[2022-07-20 09:34] #332 closed

[2022-07-20 09:39] janajaeger commented on #357
Wontifx it is, then.

[2022-07-20 09:39] #357 closed

[2022-07-20 09:53] janajaeger commented on #351
No more reports of his behaviour in the last four years, closing for now.

[2022-07-20 09:53] #351 closed

[2022-07-20 09:58] janajaeger commented on #354
No news on this for the last five years, closing for now.

[2022-07-20 09:58] #354 closed

[2022-07-20 10:01] janajaeger commented on #366
Looks fixed in 2022. Closing for now.

[2022-07-20 10:01] #366 closed

[2022-07-20 10:44] tomschr commented on #365
I've tried to reproduce it, but it works for the suse2022-ns stylesheets. Closing it.

<details>
  <summary>Screenshot and code</summary>

[code]

![Screenshot_20220720_124205](https://user-images.githubusercontent.com/1312925/179963181-c0840892-1ea5-4d1a-bfca-2942eae6dba7.png)
</details>

[2022-07-20 10:44] #365 closed

[2022-07-20 11:26] janajaeger commented on #370
Define "should not differ" both in standard font size or both in fine-print? Would suggest fine-print for all. @tomschr , @chabowski what would you prefer?

[2022-07-20 11:28] janajaeger commented on #371
Related to #215 and #217

[2022-07-20 11:32] janajaeger commented on #374
Long story short - there is no pretty solution to this :( The extra amount of work and care that has to be put into isn't justified by getting a few more links (that could get broken). Therefore closing this.

[2022-07-20 11:32] #374 closed

[2022-07-20 11:34] janajaeger commented on #378
Still valid in 2022.

[2022-07-20 13:46] janajaeger commented on #360
Test whether this is just an issue of a misused qandaentry. Test whether output changes if we use qandadiv which should provide a title on top of the section number we already get when using plain qandaset.

[2022-07-20 13:50] janajaeger commented on #382
relates to #215 and #217

[2022-07-20 13:51] janajaeger commented on #383
Let's make this a writing style issue rather than a stylesheet issue.

[2022-07-20 13:51] #383 closed

[2022-07-20 14:16] janajaeger commented on #389
Fixed.

[2022-07-20 14:16] #389 closed

[2022-07-20 14:26] janajaeger commented on #388
Appears fixed in 2022. Closing.

[2022-07-20 14:26] #388 closed

[2022-07-20 14:41] janajaeger commented on #391
@tomschr can you shed some light on this?

[2022-07-20 15:26] janajaeger commented on #411
@tomschr is there an elegant way to fix this at all?

[2022-07-20 15:47] janajaeger commented on #407
This is still valid in 2022

[2022-07-20 16:20] janajaeger commented on #413
Fixed for Figure, but not for Example. This is an easy one for you, @tomschr

[2022-07-20 16:25] janajaeger commented on #418
This seems to have been fixed. Para margins look no different in lists than they look elsewhere. Closing this.

[2022-07-20 16:25] #418 closed

[2022-07-20 16:28] janajaeger commented on #422
What's the status on this one, @tomschr ?

[2022-07-20 16:52] mfriesenegger opened #476 "Add option to remove "COPY CODE" for examples"
## Problem Description

I am writing SUSE Best Practice documents.  I show example output using <screen>.  This will show a "COPY CODE" link but the reader does not need to copy the example output.

## Expected Behaviour

Provide a method to disable "COPY CODE".

[2022-07-21 05:44] janajaeger commented on #360
http://www.sagehill.net/docbookxsl/QandAXrefs.html for context.

[2022-07-21 07:21] janajaeger commented on #360
Preliminary findings after a first round of testing:

- [ ] - the above mentioned error just concerns PDF. HTML expands to the full text of the entry anyway. No adjustments needed for HTML, PDF just shows "Q:".
![qanda_html-notitle](https://user-images.githubusercontent.com/93585322/180150110-383868a5-6a05-49cb-8288-ea04d16207f0.png)
![qanda_html-title](https://user-images.githubusercontent.com/93

[2022-07-21 07:28] janajaeger opened #477 "qandasets disturb three-column layout"
## Problem Description

When expanding qandaentries in FAQs, this affects the left and right column of our new HTML layout. They somehow slide down to where the qandaentry is expanded.

![qanda_3-column-bug](https://user-images.githubusercontent.com/93585322/180155123-80f2deaa-1f30-41b0-b528-956d7c50a5cc.png)

## Expected Behaviour

Both left and right column should stay put right at the top edge

[2022-07-21 14:46] fsundermeyer commented on #214
We used to have a feature with which we could display SVN metadata in draft mode (HTML and PDF). When switching to git this no longer worked, but at least "filename" and ID were displayed.
This no longer worked reliably when switching to DB5.
This would need to be implemented for the dm tags if we would want to implement it properly. Use case was to make reviews easier when reading PDF or HTML. We

[2022-07-25 09:12] janajaeger opened #480 "SEO-related tweeks: OG and TwitterCard descriptions"
## Problem Description

Currently, we get suitable meta descriptions for Google by chopping of any characters beyond the 150th of the abstract. This however, isn't good enough for TwitterCards and Open Graph descripions.

Twitter supports up to 120 chars. OG only accepts up to 65 chars. We are currently getting penalized for TwitterCards and OG :(

## Proposed fix

- limit any abstract to a maximu

[2022-07-26 08:04] tomschr commented on #264
Unfortunately, yes. I looked at the table again and support is still _partial_. So closing for the time being.

[2022-07-26 08:04] #264 closed

[2022-07-26 09:04] tomschr commented on #304
According to the link from https://github.com/openSUSE/suse-xsl/issues/304#issuecomment-298372261:

It is still zero and that won't change. My question was more targeted if setting of parameter to something non-zero has an effect in our TOCs.

I've tried it, set `qanda.in.toc=1` but it doesn't affect the TOC.

[2022-07-26 11:15] tomschr commented on #474
This was fixed in PR #481, so closing.

[2022-07-26 11:15] #474 closed

[2022-07-26 11:58] #455 closed

[2022-07-27 07:13] tomschr commented on #192
Although I understand the motivation behind that, the solution would be to solve that on the validation level. Unfortunately, this use case can't be done with RELAX NG. You need some Schematron rules (which we didn't address yet).

So technically you can't really solve that. For the time being, the writers still need their brain to avoid nesting admons (and other blocks) too deep. I think, we do t

[2022-07-27 07:13] #192 closed

[2022-07-27 07:27] tomschr commented on #194
I think we should avoid such use case. References in titles look bad anyway. I've opened an issue in our styleguide (see SUSE/doc-styleguide#214) so I can close this.

[2022-07-27 07:27] #194 closed

[2022-07-27 07:28] tomschr commented on #195
No, not really relevant anymore. We use Poppins now.

[2022-07-27 07:28] #195 closed

[2022-07-27 07:36] tomschr commented on #244
Currently no news on that. However, I think it's helpful to support it for use cases where you need to change the link text to something different (and `xreflabel` doesn't help).

[2022-07-28 14:36] janajaeger commented on #480
As discussed in today's tools meeting, we need the following (roughly). Feel free to tweak this:

**In the short term:**
- Make the stylesheets grab the content of the abstract element and chop it off after 119 chars plus ellipse. Use this to generate the TwitterCard and search descriptions.
- For OpenGraph descriptions, let the stylesheets duplicate the page title.
- For Twitter and meta titles,

[2022-07-28 14:40] janajaeger opened #483 "SEO: Fix heading levels in HTML"
We are currently not using the HTML headings right and get a penalty from Google because we don't follow the hierarchy rules here.
For context: https://www.contentkingapp.com/academy/headings/

Look for Stefan's easter egg in the stylesheet code :)

[2022-08-03 15:07] tomschr opened #487 "Draft isn't implemented for 2022 stylesheets"
## Problem Description

When we use the `--draft` option in daps, the `suse2022-ns` stylesheets doesn't take them into account. For example, the filenames are missing.

Reported by @cjschroder

## Expected Behaviour

Show the filename, id, etc. as in the old stylesheets.

[2022-08-04 12:41] tomschr commented on #483
This is already fixed in PR #484.

[2022-08-04 12:41] #483 closed

[2022-08-04 14:31] tomschr commented on #480
Ahh, that's interesting. Just found the following paragraph in https://developer.twitter.com/en/docs/twitter-for-websites/cards/guides/getting-started#opengraph (emphasize by me):

They give the following example:

<details>
   <summary>A mix of Twitter and Open Graph tags to define a summary card </summary>

[code]
</details>

Maybe that helps us to minimize the markup?

[2022-08-08 06:22] janajaeger commented on #480
Nope, it won't. Notice that the OG description is far too long. Would have been nice, though.

[2022-08-08 08:18] tomschr commented on #480
Right, the OG description is too long. However, if we cut it to the minimum, it would work, right.

I don't understand why this procedure is recommended in the **Twitter development guide** if it doesn't work?

[2022-08-11 12:58] janajaeger commented on #472
If adding this to the CSS/SASS file doesn't work, what about:
- adding the svg images to the static directory
- adding code to the xslt stylesheet that creates the a href code for both and links to the image

[2022-08-15 07:19] #371 closed

[2022-08-17 06:36] taroth21 opened #489 "PDF: Poppins font from graphics not picked up"
## Problem Description

Looking at https://documentation.suse.com/sle-ha/15-SP4/pdf/article-pacemaker-remote_color_en.pdf (pages 2-4), the font used in the images contains serifs and 'sticks out' a bit, whereas in the HTML build, it's a sans serif font and blends in nicely with the rest. Is this difference between PDF and HTML expected?

Copied from a discussion with Toms:

## Expected Behaviour
G

[2022-08-18 09:49] janajaeger opened #490 ""Edit source document": Auto-generated links generate 404"
## Problem Description

Check https://github.com/SUSE/doc-slesforsap/tree/maintenance/12_SP3/xmlMAIN-SLES4SAP-guide.xml from https://documentation.suse.com/sles-sap/12-SP5/single-html/SLES4SAP-guide/#cha-s4s-configure-rdp ... the "edit source document" link ends in 404.

The reason for this is a missing / before the actual file name `12_SP3/xmlMAIN...` ... this of course should read `.../xml/MAIN.

[2022-08-23 14:40] janajaeger commented on #146
This is fixed with the new layout. Closing.

[2022-08-23 14:40] #146 closed

[2022-08-23 14:56] janajaeger opened #491 "Three column layout: Middle column floats around"
## Problem Description

The middle column floats around to the right, if you're near the and of a page. It just jumps to the right.
This happens in single-html only and it happens on all supported browsers. Vincent M. reported it for FF and Safari and we know it to be an issue in Chromium as well.

To make things worse, images jump right as well and are lying on top the right column while the rest

[2022-08-23 16:16] janajaeger opened #492 "Inconsistent processing and rendering of imageobjects in tables"
When building Christoph's update/upgrade table out of https://github.com/SUSE/doc-sle/tree/cwickert-upgrade-paths-matrix, Christoph get's a perfectly rendered table with nice inline graphics which looks like this:
![Screenshot 2022-08-23 at 09-32-59 Upgrade paths and methods SLES 15 SP4](https://user-images.githubusercontent.com/93585322/186208498-ba26193b-98ca-4bef-b0d1-ceb28be2b4aa.png)

However

[2022-08-23 16:18] janajaeger commented on #491
https://user-images.githubusercontent.com/93585322/186209792-4d2e393f-02d8-4d95-94d9-bd2571548a3d.mov

[2022-08-25 05:00] chabowski commented on #217
Some comments:
- I would prefer the series title to be placed on the top right corner, not on top of the title. The area where the title is placed will become quite "overloaded" at least for some of the SBPs, because some of them have long titles.
- Some parameters for AsciiDoc documents are also defined via attributes in the DC file (e.g. the date of the document, which needs to be updated / adde

[2022-08-26 13:21] janajaeger opened #493 ""Report bug" links are gone from all doc HTML pages"
@cwickert noticed that our "Report bug" links are gone from all HTML pages. Spot checks confirmed this to be true across all d.s.c.

Has this been introduced with the latest stylesheet release? Please check!

[2022-09-07 10:34] tomschr commented on #493
Seems it's related to jquery/jquery#2885

[2022-09-07 11:48] #493 closed

[2022-09-07 12:23] tomschr commented on #490
I've recreated the documentation from the mentioned repo and branch with the latest stylesheet version 2.86.0. I don't get this error. Everything looks fine. :thinking:

[2022-09-08 08:55] jfaltenbacher commented on #490
on d.s.c it is still broken. Clicking on 'Edit source documents' results in 404 error

[2022-09-14 08:46] janajaeger commented on #217
These two are the favorites so far. Let's discuss whether we can implement similar things and how to distinguish between SBP and TRD realm.

Title page with light bulb icon:
![title_dark](https://user-images.githubusercontent.com/93585322/190106607-492dd35d-fb21-4f93-831d-20df0a907b42.png)

Title page with tools icon:
![image](https://user-images.githubusercontent.com/93585322/190106799-39e0b164-e

[2022-09-26 07:59] janajaeger commented on #427
@jfaltenbacher Can you try to find out what Stefan meant by this? If we can't verify what's behind this report we'd have to close it.

[2022-09-26 08:00] janajaeger commented on #427
Also, as we want to handle PDF generating differently in the future, we might not want to touch legacy PDF stylesheets at all.

[2022-09-26 08:19] janajaeger commented on #416
As most of this is already implemented or deprecated in 2022, we close this one :)

[2022-09-26 08:19] #416 closed

[2022-09-26 08:21] janajaeger commented on #415
@jfaltenbacher is this one still relevant?

[2022-09-26 08:25] janajaeger commented on #415
Checked with current 15 SP4. Looks fixed. Closing for now.

[2022-09-26 08:25] #415 closed

[2022-09-26 08:37] janajaeger commented on #414
Most of these are implemented with the 2022 stylesheets. The qandaset issue has been reported in #12 - we added ja there :) Closing for now.

[2022-09-26 08:37] #414 closed

[2022-09-26 08:44] janajaeger commented on #412
Permalink has been implemented. Closing.

[2022-09-26 08:44] #412 closed

[2022-09-26 08:48] janajaeger commented on #411
@tomschr  check for the keep-together attribute and report back. Does FOP fully support it?

[2022-09-26 08:52] janajaeger commented on #407
Part of the xref complex mentioned in #424.

[2022-09-26 08:56] janajaeger commented on #401
Probably no way to implement this in the short/mid term. Closing for now.

[2022-09-26 08:56] #401 closed

[2022-09-26 09:00] tomschr commented on #400
@dmpop Could you elaborate what is wrong here?

[2022-09-26 09:56] tomschr commented on #331
:information_source: According to the Git log, Stefan added `highlight.js` in April 2016. That must be [version 9.4.0](https://github.com/highlightjs/highlight.js/releases/tag/9.4.0), released May 2016.

Now 11.6.0 is the latest version.

[2022-09-26 10:03] tomschr commented on #331
It could make sense to download an adjusted set of supported languages from https://highlightjs.org/download/. I'd select:

For us, I would select, Bash, C, C++, CSS, Diff, HTML/XML, JSON, Java, JavaScript, Makefile, Markdown, PHP, Plain text, Python, Python REPL, Ruby, SQL, Shell Session, TOML/INI, YAML.

[2022-10-04 12:26] ptinley-vt commented on #427
Hi all,

1. There are more complete details on this issue in Issue #325

Stefan was suggesting running a S&R routine on the XML to replace occurrences of "`</literal>、<literal>`" (notice Chinese comma and no space separation) with "`</literal>、&#x200b;<literal>`" (adding a zero-width-space character which will fix PDF rendering and at the same time not make presentation of the Chinese HTML worse b

[2022-10-20 15:08] tomschr opened #499 "Use abbreviated productname in <title> tag"
## Problem Description

As discussed in our doc tools call on 2022-10-20, for SEO reasons we need to shorten the `<title>` tag on each HTML page.

## Expected Behaviour

Use `productname/@role="abbrev"` and use the order `<PRODUCT_ABBREV> <VERSION>: <TITLE>`

[2022-10-25 06:37] #499 closed

[2022-10-25 11:41] tomschr commented on #490
This was fixed with PR #497

[2022-10-25 11:41] #490 closed

[2022-10-25 11:42] tomschr commented on #472
This was implemented in #497

[2022-10-25 12:03] tomschr commented on #476
Thanks Mike for your idea.

From what I see, it needs the following considerations:

1. **Markup**: A way to express to suppress the "copy code" for each screen. In most cases an attribute or a processing instruction should be fine.
2. **Transformation**: Convert the special markup from (1) with the XSLT stylehsheet into a specific class (for example, `class="nocopy"`).
3. **JavaScript**: Pick eve

[2022-10-25 12:08] tomschr commented on #472
This was implemented in #497.

[2022-10-25 12:08] #472 closed

[2022-10-25 12:31] #413 closed

[2022-11-03 08:29] tomschr opened #505 "Add recommended l10n fonts"
Frank suggested to add the fonts as recommended packages to the suse-xsl-stylesheets package spec-file rather than to DAPS. These packages need a `Recommends` in the spec file:

* `google-noto-sans-jp-regular-fonts` / `google-noto-sans-jp-bold-fonts`: Japanese
* `google-noto-sans-kr-regular-fonts` / `google-noto-sans-kr-bold-fonts`: Korean
* `google-noto-sans-sc-regular-fonts` / `google-noto-sans-

[2022-11-07 08:43] tomschr commented on #35
@taroth21 Is this still an issue? The current 2022 HTML stylesheet doesn't show any information at all.

[2022-11-07 08:48] tomschr commented on #40
As PDF is more and more unimportant, we should focus more on HTML than PDF.

[2022-11-07 08:49] tomschr commented on #48
Not relevant anymore

[2022-11-07 08:51] tomschr commented on #56
As discussed with Jana today, this is no tool issue. Writers need to take care of the length. Maybe a `<titleabbrev>` could be added to GeekoDoc.

[2022-11-07 08:51] #56 closed

[2022-11-07 08:52] tomschr commented on #62
Needs to be tested against 2022 stylesheets

[2022-11-07 08:54] tomschr commented on #63
Not relevant anymore for 2022

[2022-11-07 08:54] #63 closed

[2022-11-07 08:55] tomschr commented on #64
Not relevant anymore.

[2022-11-07 08:55] #64 closed

[2022-11-07 08:56] tomschr commented on #67
Needs to be tested for 2022 stylesheets

[2022-11-07 08:57] tomschr commented on #68
Not relevant anymore.

[2022-11-07 08:57] #68 closed

[2022-11-07 08:57] tomschr commented on #74
Not relevant anymore.

[2022-11-07 08:57] #74 closed

[2022-11-07 08:58] tomschr commented on #75
This is already solved differently in the 2022 stylesheets.

[2022-11-07 08:58] #75 closed

[2022-11-07 08:59] #78 closed

[2022-11-07 09:00] tomschr commented on #89
Not relevant anymore.

[2022-11-07 09:00] #89 closed

[2022-11-07 09:01] tomschr commented on #90
Not relevant anymore.

[2022-11-07 09:01] #90 closed

[2022-11-07 09:02] tomschr commented on #91
Needs to be investigated with current FOP.

[2022-11-07 09:03] tomschr commented on #92
Needs to investigated with current FOP.

[2022-11-07 09:04] tomschr commented on #103
Needs to be investigated in current FOP.

[2022-11-07 09:05] #111 closed

[2022-11-07 09:06] tomschr commented on #113
Not relevant anymore.

[2022-11-07 09:06] #113 closed

[2022-11-07 09:06] tomschr commented on #114
Should be investigated with current FOP.

[2022-11-07 09:08] tomschr commented on #115
Not relevant anymore.

[2022-11-07 09:09] tomschr commented on #116
Need to be investigated.

[2022-11-07 09:15] tomschr commented on #118
Needs to be discussed further.

[2022-11-07 09:18] tomschr commented on #124
Not relevant anymore.

[2022-11-07 09:18] #124 closed

[2022-11-07 09:21] tomschr commented on #130
Need to investigated further.

[2022-11-07 09:23] tomschr commented on #131
Tested with Upgrade Guide, not relevant anymore.

[2022-11-07 09:23] #131 closed

[2022-11-07 09:27] tomschr commented on #133
Not relevant anymore.

[2022-11-07 09:27] #133 closed

[2022-11-07 09:29] tomschr commented on #134
Not relevant anymore.

[2022-11-07 09:29] #134 closed

[2022-11-07 09:36] tomschr commented on #137
Current output of screenshot from 2022 stylesheet (HTML):

![Screenshot_20221107_103441](https://user-images.githubusercontent.com/1312925/200276671-0327a977-a1dc-4173-b75d-fe26eed4c2d5.png)

Current output of screenshot from 2022 stylesheet (PDF):
![Screenshot_20221107_103611](https://user-images.githubusercontent.com/1312925/200276896-e91750e1-c04b-4cfc-9537-f8391b2d4e30.png)

[2022-11-07 09:40] tomschr commented on #139
Not relevant anymore.

[2022-11-07 09:40] #139 closed

[2022-11-07 09:40] tomschr commented on #140
Not relevant anymore.

[2022-11-07 09:40] #140 closed

[2022-11-07 09:41] tomschr commented on #142
Not relevant anymore.

[2022-11-07 09:41] #142 closed

[2022-11-07 09:42] tomschr commented on #145
Not relevant anymore.

[2022-11-07 09:42] #145 closed

[2022-11-07 09:43] tomschr commented on #147
Needs to be investigate further.

[2022-11-07 09:44] tomschr commented on #151
Not relevant anymore.

[2022-11-07 09:44] #151 closed

[2022-11-07 09:47] tomschr commented on #153
Not relevant anymore.

[2022-11-07 09:47] #153 closed

[2022-11-07 09:48] tomschr commented on #155
I don't understand that. Not relevant anymore.

[2022-11-07 09:48] #155 closed

[2022-11-07 09:48] tomschr commented on #158
Not relevant anymore.

[2022-11-07 09:48] #158 closed

[2022-11-07 09:51] tomschr commented on #165
Not relevant anymore.

[2022-11-07 09:51] #165 closed

[2022-11-07 09:51] tomschr commented on #167
I don't understand that. Not relevant anymore.

[2022-11-07 09:51] #167 closed

[2022-11-07 09:52] tomschr commented on #170
Not relevant anymore.

[2022-11-07 09:52] #170 closed

[2022-11-07 09:54] tomschr commented on #175
Not relevant anymore.

[2022-11-07 09:54] #175 closed

[2022-11-07 09:54] tomschr commented on #176
Needs to be investigated.

[2022-11-07 09:56] tomschr commented on #179
Not relevant anymore.

[2022-11-07 09:56] #179 closed

[2022-11-07 09:56] tomschr commented on #180
Needs to be investigated.

[2022-11-07 09:57] tomschr commented on #181
Needs to be investigated further.

[2022-11-09 12:33] janajaeger commented on #397
@tomschr hmmm, could this also be responsible for some of the heading issues we see in ContentKing?

[2022-11-09 15:44] tomschr commented on #397
Yes, quite likely.

[2022-11-14 08:10] tomschr commented on #184
Not relevant anymore

[2022-11-14 08:10] #184 closed

[2022-11-14 08:15] tomschr commented on #196
Not relevant anymore

[2022-11-14 08:17] #196 closed

[2022-11-14 08:17] tomschr commented on #197
Not relevant anymore

[2022-11-14 08:17] #197 closed

[2022-11-14 08:20] tomschr commented on #199
Not relevant anymore.

[2022-11-14 08:21] #199 closed

[2022-11-14 08:26] tomschr commented on #202
Yes, still relevant.

[2022-11-14 08:29] tomschr commented on #203
Not relevant anymore.

[2022-11-14 08:29] #203 closed

[2022-11-14 08:36] tomschr commented on #207
It's still the case. However, to avoid overly long lines (which may break), we leave it as is.

[2022-11-14 08:36] #207 closed

[2022-11-14 08:41] tomschr commented on #209
Needs to be investigated further.

[2022-11-14 08:44] tomschr commented on #211
We should avoid admonitions in tables anyway. In lists it is still possible. Nevertheless, it's a minor issue and not relevant

[2022-11-14 08:44] #211 closed

[2022-11-14 08:47] tomschr commented on #214
Not relevant anymore for us.

[2022-11-14 08:47] #214 closed

[2022-11-14 08:48] tomschr commented on #215
Work in progress.

[2022-11-14 08:49] tomschr commented on #217
Seems a duplicate of #215

[2022-11-14 08:53] tomschr commented on #219
Not relevant for 2022 stylesheets anymore.

[2022-11-14 08:53] #219 closed

[2022-11-14 08:56] tomschr commented on #222
It still correct, tables are a pain to validate. We have a Python script now for table validation. It could be improved, but we move on.

[2022-11-14 08:56] #222 closed

[2022-11-14 08:58] tomschr commented on #226
Needs to be investigated further for SUSE 2022 stylesheets.

[2022-11-14 09:09] tomschr commented on #241
Thanks, but not relevant for our stylesheets.

[2022-11-14 09:09] #241 closed

[2022-11-14 09:11] tomschr commented on #244
Seems to be a duplicate with #238

[2022-11-14 09:14] tomschr commented on #246
Seems to be something for a README.

@tbazant Could you check the steps if they are still correct/relevant etc.

[2022-11-14 09:17] tomschr commented on #249
Stefan's comment in https://github.com/openSUSE/suse-xsl/issues/249#issuecomment-238599740 is right. This is the way that it should be. Closing.

[2022-11-14 09:17] #249 closed

[2022-11-14 09:18] tomschr commented on #250
Needs to be investigated further.

[2022-11-14 09:20] tomschr commented on #254
Probably good to have, but currently no business case.

[2022-11-14 09:20] #254 closed

[2022-11-14 09:22] tomschr commented on #255
Seems to be still relevant.

[2022-11-14 09:23] tomschr commented on #258
Not relevant anymore.

[2022-11-14 09:23] #258 closed

[2022-11-14 09:26] tomschr commented on #259
This was fixed in the suse2022-ns stylesheets some time ago. Not relevant anymore.

[2022-11-14 09:26] #259 closed

[2022-11-14 09:29] tomschr commented on #265
Tested with Trento documentation. In both HTML and PDF, they formalpara title is rendered correctly.

[2022-11-14 09:32] tomschr commented on #272
Don't understand the real issue. Not relevant anymore

[2022-11-14 09:32] #272 closed

[2022-11-14 09:35] tomschr commented on #289
Don't understand that. Seems not relevant anymore.

[2022-11-14 09:35] #289 closed

[2022-11-14 09:37] tomschr commented on #294
First item is already fixed. Second is a duplicate of #202

[2022-11-14 09:37] #294 closed

[2022-11-14 09:44] tomschr commented on #295
I would say, this can be solved with these ideas:

* Tell our writers to write shorter paragraphs in an abstract. This would have the benefit of reusing it in different parts of the document.
* Raise the number in the parameter `onpage.teaser.length` (by default 300).

For these reasons, I don't think this is something that needs to be solved in XSLT.

[2022-11-14 09:44] #295 closed

[2022-11-14 09:46] janajaeger commented on #295
More info on this in the styleguide ... https://documentation.suse.com/style/current/single-html/docu_styleguide/#sec-outline - check the "abstract" list item.

[2022-11-14 09:48] tomschr commented on #297
This is a writer's issue and bad style to use guimenu inside a title. Not relevant.

[2022-11-14 09:48] #297 closed

[2022-11-14 09:50] tomschr commented on #301
Fixed in some xsltproc/libxslt release some time ago. Haven't seen this message. Not relevant anymore.

[2022-11-14 09:50] #301 closed

[2022-11-14 09:54] tomschr commented on #302
Tested with `entry/para/text()` and `entry/text()` in suse2022 stylesheets. Both look good. Already fixed.

[2022-11-14 09:54] #302 closed

[2022-11-14 09:55] tomschr commented on #304
Needs to be investigated further also for our SmartDocs.

[2022-11-14 09:57] tomschr commented on #307
Still relevant (also for SmartDocs). Need to discuss this further what we want and how we want it.

[2022-11-14 11:05] tbazant commented on #246
The above steps are working in Debian 11 now, unfortunately i dont have Jessie (8) any longer

[2022-11-14 12:40] jfaltenbacher opened #508 "Rename 'Prozedur' to 'Vorgehen'"
Proposal to rename the German translation of 'procedure' from 'Prozedur' to 'Vorgehen'

[2022-11-14 12:55] #508 closed

[2022-11-17 15:25] #505 closed

[2022-11-21 08:14] janajaeger commented on #322
This appears to be fixed in 2022. Closing.

[2022-11-21 08:15] tomschr commented on #311
No relevant anymore.

[2022-11-21 08:15] #311 closed

[2022-11-21 08:19] tomschr commented on #315
Looks fine in suse2022 stylesheets. Closing.

[2022-11-21 08:19] #315 closed

[2022-11-21 08:28] tomschr commented on #317
Tested with Jana in HTML. This is still valid.

[2022-11-21 08:34] tomschr commented on #321
Don't really understand the problem. No periods/dots in zh_cn and zh-tw.

[2022-11-21 08:34] #321 closed

[2022-11-21 08:39] tomschr commented on #325
Still an issue for suse2022 stylesheets

[2022-11-21 08:40] #326 closed

[2022-11-21 08:51] tomschr commented on #339
This is still valid, but a systemic issue. If we enable the hyphenation algorithm in filenames and URLs, it will search for possible hyphenation spots (slashes, underscores, ampersands, etc.). However, very long filenames which consists of only characters cannot are not hyphenated correctly.  In such a case, the writers has to do add the ZERO WIDTH SPACE manually. Or we don't hyphenate---with the

[2022-11-21 08:55] tomschr commented on #353
Still an issue.

[2022-11-21 08:58] tomschr commented on #358
@KucharczykL Do you still see this issues for your release notes? Please comment. :slightly_smiling_face:

[2022-11-21 09:13] tomschr commented on #361
This is invalid, it works in suse2022 stylesheets (tested with DC-SLES-upgrade)

[2022-11-21 09:13] #361 closed

[2022-11-21 09:17] tomschr commented on #367
This is still the case for the suse2022 stylesheets. Probably it would make sense to avoid compact admon blocks alltogether.

[2022-11-21 09:23] tomschr commented on #370
Still valid. Tested, yes, `<appendix role="legal">` needs to be styled like `<sect1 role="legal">`.

[2022-11-21 09:29] tomschr commented on #382
Overlong titles needs to be adapted by writers. Stylesheets cannot fix this. Closing it as layout is already covered in the issues mentioned by Jana.

[2022-11-21 09:29] #382 closed

[2022-11-21 09:30] tomschr commented on #386
Writers are responsible for their tables. Non-issue, closing.

[2022-11-21 09:30] #386 closed

[2022-11-21 09:32] tomschr commented on #390
Non-issue. Only for the SBP stylesheets this could be relevant (which is already covered).

[2022-11-21 09:32] #390 closed

[2022-11-21 09:33] tomschr commented on #391
Non-issue. The intra-xrefs detects the target _inside_ another book, article, etc.

[2022-11-21 09:33] #391 closed

[2022-11-21 09:34] tomschr commented on #393
Already covered in #505

[2022-11-21 09:34] #393 closed

[2022-11-21 09:38] tomschr commented on #394
Seems not relevant anymore.

[2022-11-21 09:38] #394 closed

[2022-11-21 09:42] tomschr commented on #396
Invalid, is in the responsibility of the writer.

[2022-11-21 09:42] #396 closed

[2022-11-21 09:46] KucharczykL commented on #358
The original message doesn't provide enough information for me to properly check, but I've tried:

1. `git checkout bbb24d8`
2. `make single-html` and `make pdf`

No errors. TOC appears in both HTML and PDF.

Should I check something else?

[2022-11-21 09:56] tomschr commented on #400
I think, we talk about different things. In the screenshot, we have two cross-reference types:

* The xrefs which point somewhere into the current book
* The xref (so called "intra-xrefs") which point somewhere into a different book.

The first are rendered as link, is clickable, and underlined. The intra-xrefs are resolved, but are NOT clickable.

Could you elaborate @dmpop?

[2022-11-21 12:37] tomschr commented on #358
Thanks Lukas. :+1: No, that's all. I think, we can close it for the time being. Thanks for checking.

[2022-11-21 12:37] #358 closed

[2022-11-24 08:50] tomschr opened #513 "Adapt the SBP stylesheets in 2.87.0"
## Problem Description

Some smaller layout issues needs to be adapted in the SBP stylesheets:

* HTML
  * [x] Check `author` information: it is right-aligned at least in the MFAD example - is this wanted?
      Seems it is also right-aligned with more authors - fix it to left-alignment?
  * [x] Put a colon and a space between `Author` and the authors information
  * [x] Date is also right-aligned

[2022-11-28 08:18] tomschr commented on #404
Confirmed.

[2022-11-28 08:23] tomschr commented on #411
Confirmed.

[2022-11-28 08:33] tomschr commented on #422
Two possibilities for markup:

* `<date role="modified">...</date>`
* `<meta role="date-modified">...</meta>`

[2022-11-28 08:42] tomschr commented on #424
This is a current limitation of our toolchain. We are working on a solution for this in regards to SmartDocs, but for the time being this can't be solved easily.

[2022-11-28 08:42] #424 closed

[2022-11-28 08:54] tomschr commented on #427
It seems, for SLE15SP4 tables are replaced by lists. Lists don't have these problems that Patrick described above.

Need to investigate further.

[2022-11-28 08:57] tomschr commented on #432
Needs to be investigated further.

[2022-11-28 09:01] tomschr commented on #440
Open question: how do we distinguish between content for Wistia and other content?

Wistia needs the following markup:

[code]

[2022-11-28 09:06] tomschr commented on #445
If we assume articles are short and don't need chunking, then we don't want to change that. If chunking is really required, use book tags.

Closing this for the moment.

[2022-11-28 09:06] #445 closed

[2022-11-28 09:08] tomschr commented on #448
This is already taken into account in #507.

[2022-11-28 09:08] #448 closed

[2022-11-28 09:14] tomschr commented on #480
The XSLT stylesheets should match to these elements in https://github.com/SUSE/doc-modular/blob/jjaeger_template-overhaul/templates/xml/assembly.xml#L60-L62

[2022-11-28 09:20] tomschr commented on #489
After compiling the SLE HA with the current 2.87.0 stylesheets, I don't see any serif fonts in SVG graphics at all. See the following screenshot:

![Screenshot_20221128_102039](https://user-images.githubusercontent.com/1312925/204240301-be228847-63df-4dbd-95c5-2904838b85fa.png)

@taroth21 Can you confirm? Is this bug still relevant?

[2022-11-28 09:22] tomschr commented on #492
Needs to be investigated further.

[2022-11-28 15:07] tomschr commented on #513
We discussed it today and Meike approved all changes.

[2022-11-28 15:18] #513 closed